.container {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 75vh;
    width: 25vw;
    margin-left: 40%;
    margin-right: 50%;
    margin-top: 5%
}

.logo {
    margin-top: 20%;
    margin-left: 40%;
    background-color: plum;
    color: black;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.logo img {
    margin-left: -8px;
    margin-top: -8px
}

.title {
    align-self: center;
    margin-top: -5%;
    color: white;
    font-size: 150%;
    font-family: 'Calibri';
}

.login {
    align-self: center;
    margin-top: 50px;
    background-color: skyblue;
    font-size: large;
    border-radius: 5px;
    height: 8%;
    width: 75%;
    font-family: 'Calibri';
}

.player {
    outline: none;
    position: relative;
    margin-left: 12%;
}

.userName {
    align-self: center;
    background-color: black;
    color: grey;
    font-size: large;
    padding-left: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    height: 50px;
    width: 75%;
    outline: none;
    transition: 0.2s ease;
    font-family: 'Calibri';
}

.place {
    position: absolute;
    color: grey;
    transition: 0.2s ease;
    top: 14px;
    left: 10px;
    border-radius: 3px;
    padding: 2px;
    font-family: 'Calibri';
}

.userName:focus {
    border-color: skyblue;
}

input:focus+.place {
    top: -10px;
    background: black;
    font-size: 14px;
    color: skyblue;
}

.errorMess {
    color: red;
    font-family: 'Calibri';
    font-size: 16px;
}